@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Mulish", sans-serif;
}
:root {
  --theme-main-color: #ff5400 !important;
  --section-title-font-size: 2.5rem !important;
  --section-title-color: #131318 !important;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
}
.df {
  display: flex;
}
.section {
  margin-top: 100px;
}
.section-title {
  font-size: 2.5rem;
  color: #131318;
  font-weight: 800;
  margin: 0 auto 24px auto;
}
.section-sub {
  color: rgba(19, 19, 24, 0.7);
  margin: 1.5rem auto;
}

/* Header */
.nav {
  margin: 50px 0;
  justify-content: space-between;
}
.bars {
  display: none;
}
.logo {
  align-items: center;
}
.hero {
  margin-left: 1rem;
}
.travel {
  margin-left: 0.5rem;
  color: var(--theme-main-color);
}
.hero,
.travel {
  font-size: 2.25rem;
  font-weight: 800;
}

/* Nav */
.nav li {
  list-style: none;
  margin-right: 45px;
  font-size: 1.12rem;
  font-weight: 500;
}
.selected {
  color: var(--theme-main-color) !important;
  font-weight: 700;
}
.nav li a {
  text-decoration: none;
  color: #424247;
}
/* .nav li:selected {
  background-color: #011FFD!important;
  } */
.banner {
  background-image:
    linear-gradient(to bottom, rgba(19, 19, 24, 0.75), rgba(19, 19, 24, 0)),
    url(Images/Group\ 13\ \(1\)\ \(1\).png);
  /* background-image: url(Images/Group\ 13\ \(1\)\ \(1\).png); */
  height: 500px;
  border-radius: 10px;
  justify-content: center;
  text-align: center;
}
.banner-content {
  width: 800px;
}
.trip-desc {
  width: 675px;
  margin: 0 auto;
}
.banner-title {
  font-size: 4rem;
  color: #fff;
  font-weight: 800;
  padding-top: 100px;
  margin: 0;
}
.banner-desc {
  color: #fff;
  margin-top: 24px;
}
.banner-form {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 1rem;
  border: none;
  border-radius: 8px;
  margin-top: 70px;
  gap: 1.5rem;
}
.banner-form-field {
  padding: 15px;
  color: #131318;
  width: 175px;
  border-radius: 8px;
  border: none;
}
.btn-primary {
  background-color: var(--theme-main-color);
  padding: 15px 35px;
  color: #fff;
  border: none;
  border-radius: 8px;
  width: 175px;
}

/* Popular Tours */
.popular-info,
.perfect-info {
  margin-right: 55px;
}
.popular-info ul,
.perfect-info ul {
  margin: 2rem 0;
  padding-left: 20px;
}
.popular-info li,
.perfect-info li {
  margin: 1rem 0;
}
.btn-read-more {
  font-size: 1.25rem;
  font-weight: 800;
}

/* Destination */
.destination-content {
  width: 643px;
  margin: 0 auto;
  text-align: center;
}
.destination-images img {
  margin: 4px;
}

/* Why Us */
.why-us-heading {
  width: 645px;
  margin: 0 auto;
  text-align: center;
}
/* Card */
.card {
  /* Add shadows to create the "card" effect */
  width: 575px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  transition: 0.3s;
  padding: 2rem;
  border: none;
  border-radius: 1rem;
  margin: 1.5rem;
}
.card img {
  width: 64px;
}
/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}
.card1 {
  background-color: rgba(251, 181, 99, 0.09);
}
.card2 {
  background-color: rgba(41, 206, 246, 0.09);
}
.card3 {
  background-color: rgba(233, 68, 68, 0.09);
  margin: 1.5rem auto;
}

.card-newsletter {
  border: 1px solid #ff5400;
  margin-top: 0;
}
.card-newsletter-title {
  margin: 10px 0;
}
.card input {
  padding: 1.25rem;
  margin-bottom: 1.25rem;
  border: none;
  border-radius: 8px;
  background-color: rgba(19, 19, 24, 0.05);
  width: 90%;
}
.card-newsletter-sub {
  color: #5a5a5d;
}
.card hr,
.footer hr {
  margin: 1.5rem 0;
  color: rgba(19, 19, 24, 0.1);
}

/* Newsletter */
/* .btn-newsletter{
  margin
} */
/* Footer */
.footer {
  text-align: center;
  height: 500px;
}
.footer > .logo {
  margin-top: 110px;
  justify-content: center;
}
.footer > .card-newsletter-sub {
  margin: 1rem auto 2rem auto;
}
.footer-icons {
  margin: 2rem auto 100px auto;
}
.footer hr {
  margin: 50px auto;
}
.fa-brands {
  margin: 0 1rem;
}
/* Media Queries */
@media screen and (max-width: 576px) {
  .container {
    max-width: 335px;
    margin: 0 auto;
  }
  .section {
    margin-top: 100px;
  }
  .df {
    flex-direction: column;
  }
  .nav {
    flex-direction: row;
    align-items: center;
  }
  .nav-item {
    display: none;
  }
  .bars {
    display: block;
    font-size: 1.5rem;
  }
  .section-title {
    font-size: 1.25rem;
  }
  .section-sub {
    font-size: 0.85rem;
  }
  /* Header */
  .logo {
    flex-direction: row;
  }
  .hero,
  .travel {
    font-size: 1.25rem;
    font-weight: 800;
  }
  .banner-title {
    font-size: 1.5rem;
    padding: 0;
  }
  .banner-content {
    width: 335px;
  }
  .trip-desc {
    width: 335px;
    margin: 30px auto;
  }
  .banner-form {
    padding: 0.75rem;
    margin: 1rem auto;
    width: 285px;
    align-items: center;
  }
  .banner-form-field,
  .btn-find {
    width: 255px;
  }
  /* Destination */
  .destination-content,
  .why-us-heading,
  .card {
    width: 300px;
  }
  .card-container {
    margin: 0 auto;
  }
  .card {
    margin: 1rem 0;
    padding: 1rem;
  }
  .destination-images img {
    width: 100%;
  }
  .popular-img img,
  .perfect-img img {
    width: 100%;
    margin: 1.5rem auto;
  }
}
@media screen and (min-width: 576px) and (max-width: 992px) {
  .container {
    max-width: 750px;
    margin: 0 auto;
  }
  .section {
    margin-top: 100px;
  }
  .df {
    flex-direction: row;
  }
  .nav {
    flex-direction: row;
    align-items: center;
  }
  .nav-item {
    display: none;
  }
  .bars {
    display: block;
    font-size: 1.5rem;
  }
  .banner-title {
    padding-top: 0px;
  }
  .trip-desc {
    width: 650px;
    margin: 100px auto;
  }
  .banner-form {
    padding: 0.75rem;
    margin: 1rem auto;
    width: 700px;
    align-items: center;
  }
  .destination-content,
  .why-us-heading {
    width: 500px;
  }
  .card-container {
    margin: 0 auto;
  }
  .card {
    width: 300px;
    margin: 1rem auto;
    padding: 1rem;
  }
  .destination-images img,
  .popular-img img {
    width: 100%;
  }
  .popular-content,
  .perfect-content {
    flex-direction: column !important;
  }
  .popular-info,
  .perfect-info {
    margin: 55px;
  }
  .popular-info ul,
  .perfect-info ul {
    margin: 2rem 0;
    padding-left: 20px;
  }
  .popular-info li,
  .perfect-info li {
    margin: 1rem 0;
  }
  .popular-img img,
  .perfect-img img {
    width: 100%;
    margin: 0 auto;
  }
  .destination-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .card-newsletter {
    margin: 0 auto;
    width: 80%;
    margin-bottom: 50px;
  }
}
@media screen and (min-width:992px) {
  .bars {
    display: none;
  }
}