@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Mulish", sans-serif;
}
:root {
  --theme-main-color: #ff5400 !important;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
}
.df {
  display: flex;
}

/* Header */
.nav {
  margin: 50px 0;
  justify-content: space-between;
}
.logo {
  align-items: center;
}
.hero {
  margin-left: 1rem;
}
.travel {
  margin-left: 0.5rem;
  color: var(--theme-main-color);
}
.hero,
.travel {
  font-size: 2.25rem;
  font-weight: 800;
}

/* Nav */
.nav li {
  list-style: none;
  margin-right: 45px;
  font-size: 1.12rem;
  font-weight: 500;
}
.selected {
  color: var(--theme-main-color) !important;
  font-weight: 700;
}
.nav li a {
  text-decoration: none;
  color: #424247;
}
/* .nav li:selected {
  background-color: #011FFD!important;
  } */
.banner{
  background-image:
    linear-gradient(to bottom, rgba(19, 19, 24, 0.75), rgba(19, 19, 24, 0)),
    url(Images/Group\ 13\ \(1\)\ \(1\).png);
  /* background-image: url(Images/Group\ 13\ \(1\)\ \(1\).png); */
  height: 500px;
  border-radius: 10px;
  justify-content: center;
  text-align: center;
}
.banner-content {
  width: 800px;
}
.trip-desc {
  width: 675px;
  margin: 0 auto;
}
.banner-title {
  font-size: 4rem;
  color: #fff;
  font-weight: 800;
  padding-top: 100px;
  margin: 0;
}
.banner-desc {
  color: #fff;
  margin-top: 24px;
}
.banner-form {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 1rem;
  border: none;
  border-radius: 8px;
  margin-top: 70px;
  gap: 1.5rem;
}
.banner-form-field {
  padding: 15px;
  color: #131318;
  width: 175px;
  border-radius: 8px;
  border: none;
}
.btn-primary {
  background-color: var(--theme-main-color);
  padding: 15px 35px;
  color: #fff;
  border: none;
  border-radius: 8px;
  width: 175px;
}
.section{
  height: 500px;
}
/* Media Queries */
@media screen and (max-width: 576px) {
  .container {
    max-width: 335px;
    margin: 0 auto;
  }
  .df {
    flex-direction: column;
  }
  .logo{
    flex-direction: row;
  }  
  .hero,
  .travel {
    font-size: 1.25rem;
    font-weight: 800;
  }
  .banner-title{
    font-size: 1.5rem;
    padding: 0;
  }
  .banner-content {
    width: 335px;
  }
  .trip-desc {
    width: 335px;
    margin: 30px auto;
  }
  .banner-form {
    padding: .75rem;
    margin: 1rem auto;
    width: 285px;
    align-items: center;
  }
  .banner-form-field, .btn-find {
    width: 255px;
  }
}
